<div class="md-toolbar-tools">
  <md-button hide-gt-sm="hide-gt-sm" ng-click="ctrl.toggleList()" aria-label="Toggle sidebar menu" class="menu">
    <md-icon md-svg-icon="menu"></md-icon>
  </md-button>

  <span>My App's Title</span>

  <!-- fill up the space between left and right area -->
  <span flex></span>

  <md-button ui-sref=".profile.rentals">
    Your Rentals
  </md-button>

  <md-button ui-sref="root.auth.signin">
    Sign In
  </md-button>
  <md-button ui-sref="root.auth.signup">
    Signup
  </md-button>
</div>
